// All CSS Animations

// Targeting navigation list items only for this hover effect. 
// Moving Arrows on Side Nav
.left-navigation li:hover a i.fa.fa-angle-down {
	font-weight: 800 !important;
	transition: transform 0.3s;
	transform: translateX(-1em) rotate(90deg);
}

