// All CSS Animations

// Targeting navigation list items only for this hover effect. 
// Moving Arrows on Side Nav
.left-navigation li:hover a i.fa.fa-angle-down {
	font-weight: 600 !important;
	transition: transform 0.3s;
	transform: translateX(-1em) rotate(90deg);
}


// Use these classes for animations:
// .side-nav.metismenu li.active a.active
// .side-nav.metismenu li.active i.material-icons