// All CSS Animations

.wrapper:hover .fa-stack{
    color: red;
    transition: 0.9s;
    transform: rotateY(180deg);
}

// Left Navigation
//Targeting navigation list items only for this hover effect
#leftNavigation.master li:hover a i.fa.fa-angle-down {
	font-weight: 800 !important;
	transition: transform 0.4s, font-weight 0.1s;
	font-weight: 800;
	transform: translateX(-1em) rotate(90deg);
}

#leftNavigation.master li:hover a {
	font-weight: 600;
}