// HTML Element Overrides for Default and Materialize
table {
	padding: 0.8em;

	td, 
	tr,
	th,
	thead {
		padding: 0.8em;
	}

}

pre {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  margin-bottom: 10px;
  overflow: auto;
  width: auto;
  padding: 5px;
  background-color: #000;
  max-height: 600px;
  color: $stats-cyan;
}


.card {
	padding: 1em;
}

