// Resets
body {
	background-color: #efefef;
}

// Fonts
html * {
	font-family: 'Source Sans Pro';
}

// HTML Element Overrides for Default and Materialize
table {
	padding: 0.8em;

	td, 
	tr,
	th,
	thead {
		padding: 0.8em;
	}

}

pre {
  max-height: 45em;
}

hr {
	margin: 3em 0em 3em 0em;
	border-color: $stats-light-grey;
	background-color: $stats-light-grey;
	color: $stats-light-grey;
}

a {
   outline: 0;
}

body {

  background-color: $body-bg;
  color: $font-color;
  font-family: "Open sans", Sans-serif;
  padding: 0;
  margin: 0;

}

a {
  text-decoration: none;
}

nav ul li {
   float: none;
}


