// Media Queries

@media (min-width:320px) and (max-width: 480px) { /* smartphones, iPhone, portrait 480x320 phones */ 

		// Remove full screen side nav
	  	.left-nav-container {
	  		display: none;
	  	}

	  	.nav-horizontal {
	  		width: 100%;
	  	}

	  	.mob-menu {
	  		display: inline-block;
	  	}

	  	.icon-box i {
	  		margin: 0.7em 0.4em 0em 0em;
	  	}
	  	
}

@media (min-width:481px) and (max-width: 640px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

	  	// Remove full screen side nav
	  	.left-nav-container {
	  		display: none;
	  	}

	  	.nav-horizontal {
	  		width: 100%;
	  	}

	  	.mob-menu {
	  		display: inline-block;
	  	}

	  	.icon-box i {
	  		font-size: 1.5em;
	  		margin: 0.9em 0.4em 0em 0em;
	  	}


}

@media (min-width:641px) and (max-width: 992px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

	  	// Remove full screen side nav
	  	.left-nav-container {
	  		display: none;
	  	}

	  	.nav-horizontal {
	  		width: 100%;
	  	}

	  	.mob-menu {
	  		display: inline-block;
	  	}

	  	//Nth child selector for clear fix. 
	  	.s12.m6.l3.mobile-clearfix:nth-of-type(-n+2) {
			min-height: 48em;
	  	}

}

@media (min-width:992px) and (max-width: 1023px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

		html body div.row.over-row div#cardWrapper.col.s12.m12.l10.card-wrapper.animsition div.row div.col.s12 div.page-header h4.test{
			color: blue;
		}
	
	  	// Remove full screen side nav
	  	.left-nav-container {
	  		display: none;
	  	}

	  	.nav-horizontal {
	  		width: 100%;
	  	}

	  	.mob-menu {
	  		display: inline-block;
	  	}

		//Nth child selector for clear fix. 
	  	.s12.m6.l3.mobile-clearfix:nth-of-type(-n+2) {
			min-height: 48em;
	  	}


}

@media (min-width:1024px) { /* big landscape tablets, laptops, and desktops */ 
		html body div.row.over-row div#cardWrapper.col.s12.m12.l10.card-wrapper.animsition div.row div.col.s12 div.page-header h4.test{
			color: red;
		}
		
		// Display full screen side nav
	  	.left-nav-container {
	  		display: block;
	  	}

	  	.nav-horizontal {
	  		width: 83.6667%;
	  	}

	  	.mob-menu {
	  		display: none;
	  	}

	  	.mob-remove {
	  		display: none;
	  	}

}

@media (min-width:1281px) { /* hi-res laptops and desktops */ 
		
		html body div.row.over-row div#cardWrapper.col.s12.m12.l10.card-wrapper.animsition div.row div.col.s12 div.page-header h4.test{
			color: yellow;
		}
		
		// Display full screen side nav
	  	.left-nav-container {
	  		display: block;
	  	}

	  	.nav-horizontal {
	  		width: 83.6667%;
	  	}

		.mob-menu {
			display: none;
		}

		.mob-remove {
			display: none;
		}
}

//Custom Media Queries
@media only screen and (min-width: 601px){
	nav, 
	nav .nav-wrapper i, 
	nav a.button-collapse, 
	nav a.button-collapse i {
	    height: 100%;
	    line-height: 164px;
	}
}



