// All  materialize sass media queries
// @media #{$small-and-down} {
//   // styles for small screens and down
// html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
// 		color: red;
// 	}
// }
// @media #{$medium-and-up} {
//   // styles for medium screens and larger
// html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
// 	  	color: blue;
// 	}
// }
// @media #{$medium-and-down} {
//   // styles for medium screens and down
// html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
//   		color: red;
//   	}
// }
// @media #{$large-and-up} {
//   // styles for large screens and up
// html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
//   	   color: yellow;
//   }

// }


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
	html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
	  		color: #04F9F9;
	  	}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
	html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
	  		color: #45C173;
	  	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
	html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
	  		color: purple;
	  	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
	html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
	  		color: blue;
	  	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
	html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
	  		color: grey;
	  	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
	html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
	  		color: yellow;
	  	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
  		color: red;
  	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
html body div.row.over-row div#cardWrapper.col.s10.card-wrapper div.row h1.tester{
  		color: green;
  	}
}

//Custom Media Queries
@media only screen and (min-width: 601px){

	nav, 
	nav .nav-wrapper i, 
	nav a.button-collapse, 
	nav a.button-collapse i {
	    height: 100%;
	    line-height: 164px;
	}

}



