// CSS For Left navigation-color

$body-bg: #fff;
$font-color: #666;

$primary-color: #303030;

$content-left-bg : lighten($primary-color, 10%);
$content-left-width : 250px;

$navigation-color : #ADADAD;
$navigation-color-hover : #fff;

$navigation-bg-active : #0A0A0A;
$navigation-color-active : #fff;

$navigation-border-color : lighten($content-left-bg, 10%);
$navigation-icon-color-hover : $navigation-bg-active;

$navigation-sub-bg : $primary-color;
$navigation-sub-border-color : lighten($navigation-sub-bg, 7%);
$navigation-sub-color-active : #fff;


body {

  background-color: $body-bg;
  color: $font-color;
  font-family: "Open sans", Sans-serif;
  padding: 0;
  margin: 0;

}

a {

  text-decoration: none;

}

h1 {

  margin-top: 0;

}

h6 {
  font-weight: 600;
  font-size: 1.2em;
}

#contentWrapper {

  width: 100%;
  height: 100%;
  position: relative;

}

#contentLeft {

  z-index: 10;
  width: 16.33333%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $stats-black;

}

#contentRight {

  padding: 1.3rem 2rem;
  margin-left: $content-left-width;

}

.left-navigation {

  width: 80%;
  margin: 0 auto;
  max-height: 100%;

  &, li ul {

    list-style: none;
    padding: 0;

  }

  li {

    width: 100%;
    margin: 0 auto;

    a {
      height: 3.2em;
      z-index : 1;
      font-size: 1.3em;
      display: block;
      padding: 1rem 1rem 0.8rem 1.2rem;
      color: $stats-white;
      text-overflow: ellipsis;
      overflow: hidden;
      position: relative;
      border-bottom: solid 1px $stats-grey;


      &, .leftNavIcon {

        line-height: 120%;

      }


      .leftNavIcon {

        position: absolute;
        top: 0;
        right: 0;

        width: 3rem;
        padding: 0.9rem 0;
        text-align: center;

      }

      -webkit-transition: color 0.2s ease;
      transition: color 0.2s ease;

      &:hover {

        color: $navigation-color-hover;

      }

    }

  } //li ends

  > li {

    &.active {

      background-color: $navigation-bg-active;

    }

  }
  
  //Angle Down Arrows
  a i.fa.fa-angle-down.leftNavIcon{
    color: $stats-orange;
    font-weight: 600;
  }

 } //left-navigation ends


#contentLeft {
  max-height: 100vh;
  overflow: auto;
}


//Left Nav Separator
.left-navigation li.split-marker{
  margin-bottom: 3.5em;
  border-bottom: none;
}

//Menu Social Icons
.left-navigation li.social-menu {
  margin-top: 2em;
  padding-left: 0.2em;

  //Social Icons
  i {
    font-size: 2em;
    margin: 0.4em;
    color: $stats-grey;
    opacity: 0.6;
  }

}

//Logo Area In Side Vertical Nav
.main-logo {

    width: 100%;
    height: 7.8em;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $stats-black;
    border-bottom: $stats-grey solid 1px;
    font-size: 1.4em;
    font-weight: 300;
    text-align: center;
    padding-top: 1em;
    color: $stats-white;
    display: inline-block;
    margin-bottom: 2em;

    img {
      width: 80%;
      display: inline-block;
      float: left;
      margin: 0em 0em 0em 0.26em;
    }

}


//Original component used them in it's css, so we have the use of an Id. 
.left-navigation.master li.main-logo a {
  border-bottom: none;
  font-size: 1.2em;
  padding-left: 0em;
  text-align: center;
  padding-top: 1em;
  color: #efefef;
  font-style: italic;
}

//Side menu active state 
.left-navigation li.active a i.fa.fa-angle-down {
  transform: translateX(-1em) rotate(90deg);
  font-weight: bold;
}

.left-navigation li.active a {
  color: $stats-orange ;
}

.left-navigation li:hover > a, .left-navigation li ul li:hover > a {
  color: $stats-orange !important;
}

#sideMenu.left-navigation.metismenu li.active ul.sub-menu li a {
  color: $stats-medium-grey;
  padding-left: 1.7em;
}

#sideMenu.left-navigation.metismenu li.active ul.sub-menu li.active a {
  color: $stats-orange;
  padding-left: 1.7em;
}

li.main-logo a i.fa.fa-bar-chart.leftNavIcon {
  margin-top: .35em;
}

// All Horizontal Nav CSS
.nav-horizontal {
  // height: 4em;
  width: 100%;
  height: 4.75em;
  background-color: $stats-white;
  position: fixed;
  width: 83.66666%;
  right: 0;
  z-index: 10; 
  //Horizontal Nav Shadow
  -webkit-box-shadow: -1px 2px 4px 0px rgba(50, 50, 48, 0.55);
  -moz-box-shadow:    -1px 2px 4px 0px rgba(50, 50, 48, 0.55);
  box-shadow:         -1px 2px 4px 0px rgba(50, 50, 48, 0.55);

  // Horizontal Nav Title Placement
  h3 {
    display: inline-block;
    padding-left: 0.5em;
    line-height: 25%;
    margin-top: 0.9em;
  }

  //Actions Icon
  .card-action div.fixed-action-btn.horizontal.click-to-toggle {
    top: 1em;
  }
  //Actions Icon Children
  .card-action div.fixed-action-btn.horizontal.click-to-toggle.active ul {
    top: 0em;
  }
  
  //Menu Hamburger Icon
  .nav-horizontal a.button-collapse i.material-icons.hamburger-icon {
    margin-top: 1em;
  }

  .mob-menu.btn-medium.waves-effect.waves-light.orange {
    margin: 0.8em 1.5em 1em 1em;
  }

  // Nav Hamburger CSS
  a.button-collapse i.material-icons.hamburger-icon {
      margin: 0.5em;
      font-size: 2.2em;
      color: $stats-grey;
  }

  // Fixed Action Buttons In Menu
  .fixed-action-btn {
    top: 1em;
  }
  .fixed-action-btn.horizontal ul li {
    margin: 0em 1em 0em 0em;
  }
  .fixed-action-btn.horizontal ul {
    top: 5%;
    height: 10%;
    width: 16em
  }

  .search-box {

    margin-top: 1em; 

    a {
      display: inline-block;
    }

  }

  .search-box i, 
  .search-box input, 
  .search-box label  {
    color: $stats-medium-grey;

  }
  
  .search-box input{
    border-color: -moz-use-text-color -moz-use-text-color $stats-medium-grey;
  }

  //Site search icon
  .search-box i {
    margin-top: 0.14em;
  }

} //nav horizontal


.icon-box {

  float: right; 
  margin-right: 1em;

  a:first-child i {
    margin-right: 0.8em !important;
  }

  i {
    display: inline-block;
    float: right;
    color: $stats-medium-grey;
    margin: 0.7em 1.4em 0em 0em;
  }

  span {
    color: $stats-medium-grey;
    display: inline-block;
    float: right;
    margin: 1.3em 0.7em 0em 0em;
  }

  i:hover {
    color: $stats-orange;
  }

  span:hover {
    color: $stats-orange;
  }

}



//Close button for mobile menu
#closer.material-icons.closer {
  display: inline-block;
  float: right; 
  margin-left: 5em;
}

#slide-out.side-nav div.mobile-close a.mobile-close {
  padding: 0.6em !important;
  display: inline-block;
  width: 20%;
  float: right;
  border-bottom: none;
}

.mobile-close img {
  width: 55%;
  display: inline-block;

}

.mobile-close {
  border-bottom: 1px solid $stats-logo-grey;
}

//Sub menu ul element within slide out mobile nav
.sub-menu li a {
  color: $stats-logo-grey;
  padding-left: 2em;
}

.sub-menu li a:hover, 
.sub-menu li a:focus  {
  color: $stats-orange;
}

//Mobile Hamburger Menu Z index Fix
a#mobMenu.button-collapse.btn-floating.mob-menu.btn-medium.red {
  z-index: 9999;
}



// Slideout css .
body {
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 200px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

// Mobile Side Nav
.side-nav {
  display: none;
}

.mob-menu {
  display: none;
}

.side-nav li {
  border-bottom: $stats-logo-grey 0.1em solid;
}

.side-nav li:first-child{
  border-top: $stats-logo-grey 0.1em solid !important;  

}


// Nav Search Module

.search-module {
  padding: 1em 0em 1em 0em;
  border-bottom: 1px solid #706f6e;
  display: block;
}

// Search Icon In Nav
.icon-contain {
  display: inline-block;
  float: right;
  width: 15%;

  i.material-icons.prefix{
    font-size: 1.9em;
    color: $stats-orange;
    padding: 0.07em 0em 0em 0.1em;
  }

}

// Search Text Area
.text-contain {
  width: 85%;

  textarea#icon_prefix2.materialize-textarea{
    background-color: white;
    border-radius: 4px;
    font-size: 1.4em;
    min-height: 1.2em;
    max-height: 1.2em;
    padding: 0.2em 0.2em 0.4em 0.2em;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em; 
  }

}

// Metis Menu css styles
/*
 * metismenu - v2.5.2
 * A jQuery menu plugin
 * https://github.com/onokumus/metisMenu#readme
 *
 * Made by Osman Nuri Okumuş <onokumus@gmail.com> (https://github.com/onokumus)
 * Under MIT License
 */

.metismenu .arrow {
  float: right;
  line-height: 1.42857;
}
*[dir="rtl"] .metismenu .arrow {
  float: left;
}

/*
 * Require Bootstrap
 * https://github.com/twbs/bootstrap
*/

.metismenu .glyphicon.arrow:before {
  content: "\e079";
}
.metismenu .active > a > .glyphicon.arrow:before {
  content: "\e114";
}

/*
 * Require Font-Awesome
 * http://fortawesome.github.io/Font-Awesome/
*/

.metismenu .fa.arrow:before {
  content: "\f104";
}
.metismenu .active > a > .fa.arrow:before {
  content: "\f107";
}

/*
 * Require Ionicons
 * http://ionicons.com/
*/

.metismenu .ion.arrow:before {
  content: "\f3d2"
}
.metismenu .active > a > .ion.arrow:before {
  content: "\f3d0";
}
.metismenu .plus-times {
  float: right;
}
*[dir="rtl"] .metismenu .plus-times {
  float: left;
}
.metismenu .fa.plus-times:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-times {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
.metismenu .plus-minus {
  float: right;
}
*[dir="rtl"] .metismenu .plus-minus {
  float: left;
}
.metismenu .fa.plus-minus:before {
  content: "\f067";
}
.metismenu .active > a > .fa.plus-minus:before {
  content: "\f068";
}
.metismenu .collapse {
  display: none;
}
.metismenu .collapse.in {
  display: block;
}
.metismenu .collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-duration: .35s;
       -o-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}


// Mobile Nav Slide Out



