// Materialize Css Overrides

// Input Focus Border Bottom Color 
input[type="search"]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none;
}

i.right {
	margin-right: 0.5em;
}

.tabs {
	margin-top: 0.5em;
}

.tabs .tab a {
    color: $stats-orange;
    height: 100%;
    overflow: hidden;
    transition: color 0.28s ease 0s;
    width: 100%;
    font-weight: 600;
}

// Nav Overrides For Materialize Css
.btn-floating, 
.btn-floating:hover  {
	background-color: $stats-green;
}

