/*Custom SCSS*/
// Imports

// Materialize Imports
@import 'variables';
@import "materialize-sass/components/mixins";
@import "materialize-sass/components/color";
@import "materialize-sass/components/variables";

//Material Icons && Fonts
@import "material-icons";
@import "fonts";
@import 'animations';
@import 'overrides.scss';
@import 'page-animation.scss';

//Normal Sass Imports
@import 'nav';
@import 'media';
@import 'elements';


// CARD RESETS
// Materialize Card Link Override
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating)  {
	color: #9C9C9C;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover  {
	color: #000;
}

.card .card-title {
    font-size: 18px;
    font-weight: 300;
}

.card {
	padding: 1em;
	margin: 1.8em 0em 1.8em 0em;
}


//Div around all card content
.card-wrapper {
	margin-top: 5.4em;
	padding-left: 2em;
}

// Nav Overrides For Materialize Css
nav ul li {
   float: none;
}

.btn-floating, 
.btn-floating:hover  {
	background-color: $stats-green;
}


nav {
    color: none;
    background-color: none;
}

.fr {
	float: right;
}

.color-panel {
	height: 12em;
	background-color: $stats-orange;

	.black {background-color: $stats-black;}
	.orange {background-color: $stats-orange;}
	.purple {background-color: $stats-purple;}
	.blue {background-color: $stats-blue;}
	.cyan {background-color: $stats-cyan;}
	.red {background-color: $stats-red;}
	.yellow {background-color: $stats-yellow;}
	.green {background-color: $stats-green;}
	.grey {background-color: $stats-grey;}
	
}

// Materialize Overrides
// Input Focus Border Bottom Color 
input[type="search"]:focus:not([readonly]), 
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: none;
}

