/*Custom SCSS*/
// Imports

// Materialize Imports
@import 'brand-variables';
@import "materialize-sass/materialize";


//Material Icons && Fonts
@import "material-icons";
@import "fonts";
@import 'animations';
@import 'overrides.scss';
@import 'page-animation.scss';
@import 'cards.scss';

//Normal Sass Imports
@import 'nav';
@import 'media';
@import 'elements';

//Div around all card content
.card-wrapper {
	margin-top: 5.4em;
	padding-left: 2em;
}

// Nav Overrides For Materialize Css
nav ul li {
   float: none;
}

.btn-floating, 
.btn-floating:hover  {
	background-color: $stats-green;
}


nav {
    color: none;
    background-color: none;
}

.fr {
	float: right;
}

.color-panel {
	height: 12em;
	background-color: $stats-orange;

	.black {background-color: $stats-black;}
	.orange {background-color: $stats-orange;}
	.purple {background-color: $stats-purple;}
	.blue {background-color: $stats-blue;}
	.cyan {background-color: $stats-cyan;}
	.red {background-color: $stats-red;}
	.yellow {background-color: $stats-yellow;}
	.green {background-color: $stats-green;}
	.grey {background-color: $stats-grey;}
}

.high-charts {
	min-width: 80%; 
	height: 400px; 
	margin: 0 auto;
}

.page-header {
	
	border-bottom: 1px solid $stats-medium-grey;
	padding-bottom: 1.8em;

	h4 {
		display: inline-block;
		margin-bottom: 0em;
	}

	.filter-box {
	  margin-top: 0em;
	  display: inline-block;
	  float: right;
	}

	.sort-box {
	  margin-top: 0em;
	  display: inline-block;
	  float: right;
	}

}

.margin-box {
	border-left: 6px solid $stats-orange;
	padding-left: 1em;
	list-style: none;
	margin: 3em 0 4em 0;

	p {
		font-size: 1em;
		padding-bottom: 0.5em;
	}

	li {
		color: $stats-orange;
		padding-bottom: 0.3em;
		padding-top: 0.3em;
		font-size: 1.1em;
	}
}